<div class="theme-config">
  <div class="theme-config-box">

    <div class="spin-icon">
      <i class="fa fa-cogs fa-spin"></i>
    </div>

    <div class="skin-setttings">
      <div class="setings-item default-skin"></div>
      <div class="setings-item blue-skin"></div>
      <div class="setings-item yellow-skin"></div>
    </div>

  </div>
</div>
